# Default gcloud ignore patterns
.git
.gitignore
.github
.idea
.vscode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# DO NOT ignore target directory - we need it for the JAR file
# target/
